POSTGRES_USER="USER"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_DB="DB_NAME" 
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"

JWT_SECRET="MY_SECRET"
COOKIE_NAME="COOKIE_NAME"
