POSTGRES_USER="diplomind_user"
POSTGRES_PASSWORD="MotDePasseTresSecuriseEtLong"
POSTGRES_DB="diplomind_db"

DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"

JWT_SECRET="CleSecreteComplexePourLesTokens"
COOKIE_NAME="auth_cookie_diplomind"