[submodule "diplomind_fe"]
	path = diplomind_fe
	url = https://github.com/Mzgus/diplomind_fe.git
	branch = preview
[submodule "diplomind_be"]
	path = diplomind_be
	url = https://github.com/Mzgus/diplomind_be.git
	branch = preview
